global
  maxconn 2048
  tune.ssl.default-dh-param 2048

defaults
  mode http
  timeout client 1m
  timeout connect 10s
  timeout server 1m

frontend app
  bind :80
  bind :443 ssl crt /localhost.pem
  acl url_static url_beg /static
  use_backend static if url_static
  default_backend app
  option forwardfor
  option http-server-close

frontend ssh
  bind :22
  mode tcp
  default_backend ssh

backend app
  redirect scheme https if !{ ssl_fc }
  balance roundrobin
  server app app:8000 maxconn 32

backend static
  balance roundrobin
  server static static:80 maxconn 32

backend ssh
  mode tcp
  balance roundrobin
  server ssh ssh:22

