[submodule "mytardis/app/src"]
	path = mytardis/src/mytardis
	url = https://github.com/mytardis/mytardis.git
        branch = 3.7
[submodule "mytardis/src/mydata"]
	path = mytardis/src/mydata
	url = https://github.com/wettenhj/mytardis-app-mydata
